lightning-layout{
    margin: 20px 5px 20px 5px;
    position: relative;
}
.nextButton{
    position: absolute;
    right: 10px;
    margin-top: -68px;
}
.backButton{
    position: absolute;
    left: 10px;
}
.submitButton{
    position: absolute;
    right: 10px;
}
.inputCard{
    width: 100%; 
    display: flex; 
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 20px;
}
.pageHandler {
     width: 100%;
     height: 100px;
     margin-top: -115px;
     display: flex;
     justify-content: center;
     align-items: end;
     gap: 10px;
     }
.buttonText{
    width:90px;
    height: 30px;
    display: flex; 
    justify-content:center;
    align-items:center;
    gap:10px;
    text-align: center;
}
.buttons{
    width:90px;
    height: 30px;
    display: flex; 
    justify-content:center;
    align-items:center;
}

/* orelproductcart.css */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(33.33% - 20px); /* Adjust as needed */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.product-image {
    max-width: 160px;
    max-height: 160px;
    margin-bottom: 10px;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 12px;
    width: 250px;
    height: 120px;
    //border: 1px solid red;
    text-align: center;
}

.product-name {
    font-weight: 900;
    margin-bottom: 5px;
}

.product-price {
    margin-bottom: 5px;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.cart-img{
    width: 40px; 
    height: 40px;
}

.qty-sty{
    margin-right: 10px;
    font-weight: 700;
}

.qty-btn{
    height: 20px;
    width: 20px;
    font-size: 8px;
    border-radius: 2px;
    border-width: 0;
}

.input-qty{
    height: 25px;
    width: 35px;
    margin-right: 5px;
    margin-left: 5px;
    //border-width: 0;
}

.btn-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
}